# created by git-ignore
# Object files
*.o
*.ko
*.obj
*.elf
*.*~
*.d
*.test
Makefile~
makefile~
*~

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
/example/*_bin

# created by git-ignore
CMakeCache.txt
CMakeFiles
cmake_install.cmake
install_manifest.txt
build
Release
.project
.cproject
/Debug
/build
/Release

#Unnecessary files
example/*.log
CTestTestfile.cmake
src/CTestTestfile.cmake
src/Makefile
Makefile

#Doxygen files
doc/html
Doxyfile

#vim swap files
*.swp

src/GPUGenie/configure.h
